h1{
    text-align: center;
    margin: 12px 0;
}
.myForm{
    display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.myInput{
    width: 45%;
    padding: 6px;
    margin: 25px;
    font-size: 15px;
    border: 2px solid red;
    border-radius: 12px;
    outline: none;
}

.btn{
    padding: 15px 16px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 2px;
    color: whitesmoke;
    background: red;
    cursor: pointer;
}
